/* screen - web-1920-updates */

.web-1920-updates {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.web-1920-updates .overlap-group8 {
  align-items: flex-end;
  background-image: url(../img/path-1-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  width: 1920px;
}

.web-1920-updates .overlap-group-container {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-right: 46.0px;
  margin-top: 23px;
  min-width: 243px;
}

.web-1920-updates .overlap-group10 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 32px;
  display: flex;
  height: 63px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  min-width: 158px;
  padding: 5px 28.1px;
}

.web-1920-updates .log-in {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  min-height: 42px;
  min-width: 102px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-updates .overlap-group3 {
  height: 82px;
  position: relative;
  width: 65px;
}

.web-1920-updates .text-1 {
  left: 11px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.web-1920-updates .overlap-group9 {
  align-self: center;
  height: 96px;
  margin-left: 2.0px;
  position: relative;
  width: 434px;
}

.web-1920-updates .overlap-group9-item {
  left: 0;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 3px 6px #00000029;
  top: 0;
  white-space: nowrap;
}

.web-1920-updates .overlap-group5 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 63px;
  justify-content: flex-end;
  margin-top: -1px;
  min-width: 281px;
  padding: 5px 89px;
}

.web-1920-updates .place {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  min-height: 42px;
  min-width: 92px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-updates .overlap-group6 {
  align-items: flex-end;
  background-color: var(--vivid-violet);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 63px;
  justify-content: flex-end;
  margin-top: -1px;
  min-width: 281px;
  padding: 5px 72px;
}

.web-1920-updates .updates {
  color: #fcf9f9;
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30px;
  min-height: 42px;
  min-width: 134px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-updates .overlap-group4 {
  height: 63px;
  margin-top: -1px;
  position: relative;
  width: 832px;
}

.web-1920-updates .rectangle-6 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  width: 281px;
}

.web-1920-updates .about-us {
  cursor: pointer;
  left: 337px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
}

.web-1920-updates .compendium {
  cursor: pointer;
  left: 33px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
}

.web-1920-updates .rectangle-15 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 63px;
  left: 551px;
  position: absolute;
  top: 0;
  width: 281px;
}

.web-1920-updates .bug-report {
  cursor: pointer;
  left: 600px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
}

.web-1920-updates .overlap-group7 {
  align-items: flex-end;
  background-color: #fdfcfe;
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 63px;
  margin-top: -1px;
  min-width: 284px;
  padding: 5px 53px;
}

.web-1920-updates .feedback {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  min-height: 42px;
  min-width: 150px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-updates .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 116px;
  height: 873px;
  min-width: 1920px;
}

.web-1920-updates .rectangle {
  background-color: var(--mauve);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 800px;
  width: 263px;
}

.web-1920-updates .flex-col-1 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 836px;
  width: 1162px;
}

.web-1920-updates .updates-1 {
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 3.0px;
  min-height: 69px;
  min-width: 221px;
  white-space: nowrap;
}

.web-1920-updates .repeat-grid-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 747px;
  width: 1162px;
}

.web-1920-updates .group-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 30px;
  box-shadow: 0px 3px 6px #000000a6;
  display: flex;
  gap: 31px;
  height: 279px;
  min-width: 1162px;
  padding: 35px 51px;
}

.web-1920-updates .overlap-group {
  align-items: flex-end;
  background-image: url(../img/path-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 207px;
  min-width: 350px;
  padding: 75px 62px;
}

.web-1920-updates .udpate-0012 {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 42px;
  min-width: 209px;
  white-space: nowrap;
}

.web-1920-updates .flex-col {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 6.5px;
  min-height: 196px;
  width: 606px;
}

.web-1920-updates .x12522game-update {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 82px;
  white-space: nowrap;
}

.web-1920-updates .repeat-grid-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-left: 0.5px;
  min-height: 108px;
  width: 605px;
}

.web-1920-updates .line-1 {
  height: 4px;
  object-fit: cover;
  width: 605px;
}
